th.dob{
  padding: 0!important;
  margin: 0!important;
  
}
div.main.col{
  padding: 0!important;
  max-width: 74%!important;
  margin: 0!important;
 
}
td.dob{
  padding: 0!important;
  margin: 0!important;
}